* {
    background-color: #424754;
}
h1, h2, h3, h4 {
    color: #277492
}
a {
    color: rgb(165, 144, 187);
}
hr {
    border: 1px solid #277492;
}
.Aufzählung-hand {
    color: rgb(128, 117, 233);
}
p, h1, h2, h3, nav, footer {
    text-align: center;
}
a {
    text-decoration: none;
}
.hauptseite {
    border-color: rgb(39, 97, 138);
    border-width: 3px;
    border-style: ridge;
    line-height: 40px;
    padding: 5px;
}
